.pera-style{
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color: red;
background: transparent;
color: rgb(250, 204, 212);
background-color:
rgb(19, 38, 59);
justify-content: space-between;
}
